---
import { getCollection } from "astro:content";
import Prose from "@/components/Prose.astro";
import { generateToC } from "@/lib/generateToc";
import TOCList from "@/components/TOC/TOCList.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

const items = generateToC(headings, {
  minHeadingLevel: 1,
  maxHeadingLevel: 10,
});
---

<BaseLayout title={entry.data.title}>
  <post-toc>
    <div class="w-full flex flex-row">
      <div class="w-full">
        <div
          class="flex flex-col w-full items-center pt-9 max-w-screen-lg mx-auto"
        >
          <!-- The _top is very important for the TOC -->
          <h1 id="_top" class="text-4xl font-extrabold">{entry.data.title}</h1>
          <h2 class="text-lg opacity-60"><em>{entry.data.description}</em></h2>
          <div class="flex flex-row justify-around w-1/2">
            <p>
              Published on: {entry.data.pubDate.toString().slice(0, 10)}
            </p>

            <p>Written by: {entry.data.author}</p>
          </div>
          <div class="flex flex-wrap gap-3 py-3">
            {
              entry.data.tags.map((tag: unknown) => (
                <p class=" hover:bg-amber-500 transition-all inline-flex items-center justify-center duration-200 ease-out h-5 text-sm leading-5 w-fit px-2 border-base-200 bg-base-100 text-base-content rounded-[1.9rem] border border-neutral bg-neutral text-neutral-content">
                  <a href={`/search/${tag}`}>{tag}</a>
                </p>
              ))
            }
          </div>

          <img
            class=""
            src={entry.data.image.url}
            width="300"
            alt={entry.data.image.alt}
          />
          <Prose>
            <Content />
          </Prose>
        </div>
      </div>
      <div class="w-96">
        <div class="w-full fixed h-full bg-lime-900 px-4 py-4">
          <TOCList toc={items} />
        </div>
      </div>
    </div>
  </post-toc>
</BaseLayout>

<script src="@/components/TOC/TOC"></script>
